
@media (max-width: 1000px) {

    body {
        -webkit-overflow-scrolling: touch;

    }

    .content {
        width: 100%;

     }   

    #waterfall{
        margin-top: 25px;

    }

    .item {
        //border: 1px solid #ddddddd;
        border-radius: 3px;

    }

    .item_img{
        border-radius: 3px;

    }


    .menu {
        font-size: 55px;

    }

    .info {
        font-size: 55px;

    }

    .logo {
        margin-top: 15px;
        font-size: 55px;

    }

    .content {
        margin-top: 10px;

    }

    .text_aria {
        text-align: left;
        font-size: 27px;
        line-height: 1.4em;

    }

    .rating_aria {
        font-size: 16px;
        color: #575757;

    }

    .item_share {
        display: none;

    }

    .modal {
        background-image: none;
        background-color: white;

    }

    .modal_big_close{
        display: none;

    }

    .modal_close {
        background-image: url('menu.png');
        opacity: 0.7;
        font-size: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .modal_header {
        top: -3px;
        padding-left: 15px;
        opacity: 0.7;
        border: 2px;
        background-color: white;
		opacity:1;
    }

    .modal_content {
        width: 100%;
        height: auto;
        overflow-y: auto;
        margin-top: 60px;

    }

    .modal_content > img {
        width: 100%;
        padding: 0px;
        border: none;
    }

    .modal_text_outer {
        border: none;

    }

    .modal_text {
        text-align: left;
        font-size: 40px;
        line-height: 1.3em;
        padding: 15px;
        width: 100%;

    }

    .modal_share{
        display: none;

    }

	.modal_gids{
		width: 100%;

	}

	.modal_gids_avatar{
		width: 100px;
    	padding: 10px;

	}

	.modal_gids_name{
		width: auto;
		font-size:30px;

	}


    .item_share_modal {
        display: none;
        font-size: 40px;
        padding: 25px;

    }

    .images_show_more {
        display: block;

    }

    .menu_modal_inner {
        width: 70%;
        font-size: 32px;
        line-height: 45px;

    }

    .menu_modal_close {
        font-size: 40px;

    }

    .button {
        padding: 20px 55px;
        font-size: 40px;

    }
		
	.menu_modal_inner_info {
		padding-top:50px;
		text-align: center;
		font-size: 30px;
		line-height: 45px;
		margin-top: 30px;
		margin: 0 auto;
		width: 95%;

	}
	
    li{
        margin-bottom: 35px;
    }

    .go_top{
        display: none;
    }

    .settings_desctop{
        display: none;
    }

    .settings_mobile{
        display: block;
    }

    .end_of{
        color:white;
        border-top:1px solid white;
    }

    .end_of b{
        color:white;
    }

}



